<div class="container">

	<div class="row">
		<div class="col-md-12">

			<div class="row">

				<% var ratings_sum = 0; %>
				<% var ratings_avg = 0; %>
				<% restaurant.get("reviews").each(function (review) { %>
				<%   ratings_sum += review.get("rating"); %>
				<% }); %>
				<% if (ratings_sum === 0) {ratings_avg = 'NA';} else { ratings_avg = ratings_sum / restaurant.get("reviews").length; } %>

				<h1><%=restaurant.get('name')%></h1>
				<h4><span class="label label-danger"><%= ratings_avg %></span> <%=restaurant.get("reviews").length%> Reviews</h4>
				<%= restaurant.get("address").get('line1') %>
				<%= restaurant.get("address").get('line2') %>,
				<%= restaurant.get("address").get('city') %>,
				<%= restaurant.get("address").get('state') %>
				<%= restaurant.get("address").get('zip') %>,
				<span class="glyphicon glyphicon-earphone"></span> <%= restaurant.escape('phone') %>,
				<%= restaurant.escape('url') %>
			</div>

			<div class="row">&nbsp;</div>

			<div class="row">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="photo-map-tab-nav">
				  <li class="active"><a href="#photo-tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> Photo</a></li>
				  <li><a href="#map-tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
					<li><a href="#street-tab" data-toggle="tab"><span class="glyphicon glyphicon-road"></span> Street</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="photo-tab">

						 <div id="carousel-photo-tab" class="carousel slide" data-ride="carousel" data-interval="false">
						   <!-- Indicators -->
						   <ol class="carousel-indicators">
						     <li data-target="#carousel-photo-tab" data-slide-to="0" class="active"></li>
						     <li data-target="#carousel-photo-tab" data-slide-to="1"></li>
						     <li data-target="#carousel-photo-tab" data-slide-to="2"></li>
						   </ol>

						   <!-- Wrapper for slides -->
						   <div class="carousel-inner">
						     <div class="item active">
						       <img src="http://4.bp.blogspot.com/-LdagGkf9KTg/T1_8wYp51hI/AAAAAAAACcY/YiEnIejfKA0/s1600/Smitten_ice_cream2.JPG" alt="...">
						     </div>
						     <div class="item">
						       <img src="http://1.bp.blogspot.com/-staQhhouSvQ/T1_64EWDpHI/AAAAAAAACb0/rFmRcz0EDbs/s1600/Smitten_ice_cream_sizes.JPG" alt="...">
						     </div>
						     <div class="item">
						       <img src="http://3.bp.blogspot.com/-asPmWHrJzjQ/TnLWwwYSRUI/AAAAAAAAHho/TcIWwvBsd4k/s1600/DSC_8140.JPG" alt="...">
						     </div>
						   </div>

						   <!-- Controls -->
						   <a class="left carousel-control" href="#carousel-photo-tab" data-slide="prev">
    					 		<span class="glyphicon glyphicon-chevron-left"></span>
						   </a>
						   <a class="right carousel-control" href="#carousel-photo-tab" data-slide="next">
							 		<span class="glyphicon glyphicon-chevron-right"></span>
						   </a>
						</div>

					</div>
				  <div class="tab-pane" id="map-tab">
						<img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false">
					</div>

					<div class="tab-pane" id="street-tab">
						<img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=40.720032,-73.988354&heading=235&sensor=false">
					</div>
				</div>
			</div>

			<div class="row">&nbsp;</div>

			<% var ALREADY_REVIEWED = false %>
			<% restaurant.get("reviews").each(function (review) { %>
			<%   if (review.get("user_id") === CURRENT_USER_ID) { ALREADY_REVIEWED = true; } %>
			<% }); %>

			<% if (CURRENT_USER_ID !== '' && !ALREADY_REVIEWED) {%>
				<div class="row">
					<form role="form" id="review-form">

					<input type="hidden" name="review[restaurant_id]" id="review_restaurant_id" value="<%= restaurant.get('id')%>">
					<input type="hidden" name="review[user_id]" id="review_user_id" value="<%= CURRENT_USER_ID %>">
						<div class="row">
					    <label class="sr-only" for="review_body">Review</label>
							<div class="col-xs-12">
					   		<textarea class="form-control" name="review[body]" id="review_body" placeholder="Start your review..."></textarea>
							</div>
					  </div>
						<div class="row">&nbsp;</div>
					  <div class="row" id="review-form-submit-container">
							<div class="col-xs-1">
								<label for="review_rating">Rating:</label>
							</div>
							<div class="col-xs-1">
								<select class="form-control" name="review[rating]" id="review_rating">
								  <option>5</option>
								  <option>4</option>
								  <option>3</option>
								  <option>2</option>
								  <option>1</option>
								</select>
							</div>
							<div class="col-xs-9">
							</div>
							<div class="col-xs-1">
								<button id="submit-review" class="btn btn-warning ">Submit!</button>
							</div>
					  </div>
					</form>
				</div>

				<div class="row">&nbsp;</div>
			<% } %>

			<div class="row">

				<div class="well well-sm well-size">

				<ul class="media-list" id="review-section">
					<% var user %>
					<% var date %>
					<% restaurant.get("reviews").each(function (review) { %>
						<% user = _.find(USERS, function(obj) {return obj.id == review.escape('user_id')}) %>
						<% date = new Date(review.escape('updated_at')) %>
						<div class="panel panel-default">
							<div class="panel-body">
								<li class="media">
									<div class="pull-left">
						      	<img class="media-object" src="http://whoateallthepies.tv/wp-content/uploads/2012/07/Obama-not-bad-meme-e1341318936848.jpg" alt="...">
						    	</div>
									<div class="media-body">
										<h4 class="media-heading"><%= user['username'] %><small> <i>Posted on <%= (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear() %></i></small></h4>
									 	<p><%= review.escape('body') %><br>
										<strong>Rating: <%= review.escape('rating') %></strong></p>
								  </div>
								</li>
							</div>
						</div>
					<% }); %>
				</ul>

				</div>
			</div>

		</div>
	</div>

</div>