<h1><%=restaurant.get('name')%></h1>

<%= restaurant.get("address").get('line1') %>
<%= restaurant.get("address").get('line2') %>,
<%= restaurant.get("address").get('city') %>,
<%= restaurant.get("address").get('state') %>
<%= restaurant.get("address").get('zip') %> <br>
<%= restaurant.get('phone') %>,
<%= restaurant.get('url') %>