<div class="container">

	<div class="row">
		<div class="col-md-12">

			<div class="row">

				<% var ratings_sum = 0; %>
				<% var ratings_avg = 0; %>
				<% restaurant.get("reviews").each(function (review) { %>
				<%   ratings_sum += review.get("rating"); %>
				<% }); %>
				<% if (ratings_sum === 0) {ratings_avg = 'NA';} else { ratings_avg = ratings_sum / restaurant.get("reviews").length; } %>

				<h1><%=restaurant.get('name')%></h1>
				<h4><span class="label label-danger"><%= ratings_avg %></span> <%=restaurant.get("reviews").length%> Reviews</h4>
				<%= restaurant.get("address").get('line1') %>
				<%= restaurant.get("address").get('line2') %>,
				<%= restaurant.get("address").get('city') %>,
				<%= restaurant.get("address").get('state') %>
				<%= restaurant.get("address").get('zip') %>,
				<span class="glyphicon glyphicon-earphone"></span> <%= restaurant.escape('phone') %>,
				<%= restaurant.escape('url') %>
			</div>

			<div class="row">&nbsp;</div>

			<div class="row">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="photo-map-tab-nav">
				  <li class="active"><a href="#photo-tab" data-toggle="tab"><span class="glyphicon glyphicon-picture"></span> Photo</a></li>
				  <li><a href="#map-tab" data-toggle="tab"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
					<li><a href="#street-tab" data-toggle="tab"><span class="glyphicon glyphicon-road"></span> Street</a></li>
					<li><a href="#photo-upload-tab" data-toggle="tab"><span class="glyphicon glyphicon-paperclip"></span> Upload</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active" id="photo-tab">

						 <div id="carousel-photo-tab" class="carousel slide" data-ride="carousel" data-interval="false">
						   <!-- Indicators -->
						   <ol class="carousel-indicators">
						     <li data-target="#carousel-photo-tab" data-slide-to="0" class="active"></li>
						     <li data-target="#carousel-photo-tab" data-slide-to="1"></li>
						     <li data-target="#carousel-photo-tab" data-slide-to="2"></li>
						   </ol>

							 <% function pad(n, width, z) {z = z || '0'; n = n + ''; %>
							 <%		return n.length >= width ? n : new Array(width - n.length + 1).join(z) + n; } %>

						   <!-- Wrapper for slides -->
						   <div class="carousel-inner">
							 <% var setActive = true %>
							 <% restaurant.get("pictures").each(function (picture) { %>
								 	 <% if (setActive) {%> <div class="item active"> <% } else { %> <div class="item"> <% } %>
									 <% var img_path = "https://s3-us-west-1.amazonaws.com/sweetspotdev/pictures/photos/000/000/" + pad(picture.get('id'), 3) + "/big/base64.txt"; %>
							      <img src='<%= img_path %>' alt="...">
						     </div>
								 <% setActive = false %>
							 <% }); %>

						   </div>

						   <!-- Controls -->
						   <a class="left carousel-control" href="#carousel-photo-tab" data-slide="prev">
    					 		<span class="glyphicon glyphicon-chevron-left"></span>
						   </a>
						   <a class="right carousel-control" href="#carousel-photo-tab" data-slide="next">
							 		<span class="glyphicon glyphicon-chevron-right"></span>
						   </a>
						</div>

					</div>
				  <div class="tab-pane" id="map-tab">
					</div>

					<div class="tab-pane" id="street-tab">
					</div>

					<div class="tab-pane" id="photo-upload-tab">
						<form class="form-horizontal" id="new_photo_form" enctype="multipart/form-data">
								<input type="hidden" name="picture[restaurant_id]" id="picture_restaurant_id" value="<%= restaurant.get('id')%>">
								<div class="form-group">
                <label for="picture_upload" class="col-sm-3 control-label">
                    Upload</label>
										<div class="col-sm-9">
											<input type="file" id="picture_upload" class="form-control" name="picture[photo]" multiple accept='image/*'>
										</div>
								</div>
                <div class="form-group">
                    <label for="picture_caption" class="col-sm-3 control-label">
                        Caption</label>
                    <div class="col-sm-9">
                        <input type="text" name="picture[caption]" class="form-control" id="picture_caption" placeholder="Start caption..." required>
                    </div>
                </div>
                <div class="form-group last">
                    <div class="col-sm-offset-3 col-sm-9">
												<button id="submit-photo" class="btn btn-warning btn-small">Submit!</button>
                    </div>
                </div>
						</form>
					</div>

				</div>
			</div>

			<div class="row">&nbsp;</div>

			<% var ALREADY_REVIEWED = false %>
			<% restaurant.get("reviews").each(function (review) { %>
			<%   if (review.get("user_id") === CURRENT_USER_ID) { ALREADY_REVIEWED = true; } %>
			<% }); %>

			<% if (CURRENT_USER_ID !== '' && !ALREADY_REVIEWED) {%>
				<div class="row">
					<form role="form" id="review-form">

					<input type="hidden" name="review[restaurant_id]" id="review_restaurant_id" value="<%= restaurant.get('id')%>">
					<input type="hidden" name="review[user_id]" id="review_user_id" value="<%= CURRENT_USER_ID %>">
						<div class="row">
					    <label class="sr-only" for="review_body">Review</label>
							<div class="col-xs-12">
					   		<textarea class="form-control" name="review[body]" id="review_body" placeholder="Start your review..."></textarea>
							</div>
					  </div>
						<div class="row">&nbsp;</div>
					  <div class="row" id="review-form-submit-container">
							<div class="col-xs-1">
								<label for="review_rating">Rating:</label>
							</div>
							<div class="col-xs-1">
								<select class="form-control" name="review[rating]" id="review_rating">
								  <option>5</option>
								  <option>4</option>
								  <option>3</option>
								  <option>2</option>
								  <option>1</option>
								</select>
							</div>
							<div class="col-xs-9">
							</div>
							<div class="col-xs-1">
								<button id="submit-review" class="btn btn-warning">Submit!</button>
							</div>
					  </div>
					</form>
				</div>

				<div class="row">&nbsp;</div>
			<% } %>

			<div class="row">

				<div class="well well-sm well-size">

				<ul class="media-list" id="review-section">
					<% var user %>
					<% var date %>
					<% restaurant.get("reviews").each(function (review) { %>
						<% user = _.find(USERS, function(obj) {return obj.id == review.escape('user_id')}) %>
						<% date = new Date(review.escape('updated_at')) %>
						<div class="panel panel-default">
							<div class="panel-body">
								<li class="media">
									<div class="pull-left">
						      	<img class="media-object" src="http://whoateallthepies.tv/wp-content/uploads/2012/07/Obama-not-bad-meme-e1341318936848.jpg" alt="...">
						    	</div>
									<div class="media-body">
										<h4 class="media-heading"><%= user['username'] %><small> <i>Posted on <%= (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear() %></i></small></h4>
									 	<p><%= review.escape('body') %><br>
										<strong>Rating: <%= review.escape('rating') %></strong></p>
								  </div>
								</li>
							</div>
						</div>
					<% }); %>
				</ul>

				</div>
			</div>

		</div>
	</div>

</div>