<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "put" : "post") %>
<% message = (user.persisted? ? "Update user" : "Create user") %>

<div class="container">
		<div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span> Create User</div>
                <div class="panel-body">
                    <form action="<%= action %>" method="post" class="form-horizontal" role="form">
										  <input
										     name="_method"
										     type="hidden"
										     value="<%= method %>">
											<input
										     name="authenticity_token"
										     type="hidden"
										     value="<%= form_authenticity_token %>">
										<div class="form-group">
                        <label for="user_username" class="col-sm-3 control-label">
                            Username</label>
                        <div class="col-sm-9">
                            <input type="txt" class="form-control" id="user_username" name="user[username]" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user_password" class="col-sm-3 control-label">
                            Password</label>
                        <div class="col-sm-9">
                            <input type="password" name="user[password]" class="form-control" id="user_password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user_home" class="col-sm-3 control-label">
                            City</label>
                        <div class="col-sm-9">
                            <input type="text" name="user[home]" class="form-control" id="user_home" placeholder="E.g. San Francisco" required>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-2 col-sm-7 text-right">
                            <button type="submit" class="btn btn-success btn-sm">
                                <%= message %></button>
                                 <button type="reset" class="btn btn-default btn-sm">
                                Reset</button>
                        </div>
                    </form>
												<form action="<%= action %>" method="post" class="form-horizontal">
												  <input name="_method" type="hidden" value="<%= method %>">
													<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
													<input type="hidden" name="user[username]" value=<%= "guest#{rand(10000..99999)}" %> >
													<input type="hidden" name="user[password]" value="password">
													<input type="hidden" name="user[home]" value="San Francisco">
													<button type="submit" class="btn btn-primary btn-sm">GUEST</button>
												</form>
                    </div>
                </div>
                <div class="panel-footer">
                    Already Signed Up? <a href="/session/new">Sign In Here</a></div>
            </div>
        </div>
    </div>
</div>
