<%= render :partial => "layouts/header" %>

<body id="show-container">
	<div class="container">
	    <div class="row">
	        <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-4 ">
	             <div class="panel panel-default">
	                <div class="row">
	                    <div class="col-sm-6 col-md-4">
	                        <img src="<%= @user.photo.url(:big) %>" alt="http://placehold.it/380x500" class="img-rounded img-responsive" />
	                    </div>
	                    <div class="col-sm-6 col-md-8">
													<div class="row">&nbsp;</div>
	                        <h4><%= @user.username %></h4>
	                        Home City: <cite title="<%= @user.home %>"><%= @user.home %> <i class="glyphicon glyphicon-map-marker">
	                        </i></cite>
													<p></p>
	                        <p>Created Date: <%= @user.created_at %></p>
													<p>Updated Date: <%= @user.updated_at %></p>

														<%= form_for @user do |f| %>
														  <p>
														    <%= f.file_field :photo %>
														  </p>
														  <p>
														    <%= f.submit 'Update Photo', :id => "photoupload" %>
														  </p>
														<% end %>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>

<div class="modal modal-static fade" id="modal-processing" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="http://www.travislayne.com/images/loading.gif" class="icon" />
                    <h4>Uploading... <button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
  $('#photoupload').click(function(){
     $( '#modal-processing' ).modal( 'toggle' );
  });
});
</script>

