<div id='header-content'>
Header Loading...
</div>
<div id='content'>
Body Loading...
</div>

<script>
	<% if !current_user.nil? %>
	var CURRENT_USER_ID = <%= current_user.id %>;
	var CURRENT_USER_PHOTO = "<%= current_user.photo.url(:small) %>";
	<% else %>
	var CURRENT_USER_ID = "";
	var CURRENT_USER_PHOTO = "";
	<% end %>

	if (typeof CURRENT_SEARCH === 'undefined') {
		<% if !current_user.nil? %>
			var CURRENT_SEARCH = {address: {city: '<%= current_user.home %>'}};
		<% else %>
			var CURRENT_SEARCH = {address: {city: 'San Francisco'}};
		<% end %>
	}

  var USERS = <%= User.all.to_json(:only => [:username, :id, :photo_file_name]).html_safe %>
	var NAMES = <%= Restaurant.uniq.pluck(:name).sort.to_json.html_safe  %>
</script>


